fastapi==0.116.2
fastapi_mail==1.5.0
matplotlib==3.10.6
mindspore==2.7.0
numpy==1.21.5
openai==1.107.3
pdfplumber==0.11.0
Pillow==11.3.0
pydantic==2.11.9
pymysql==1.1.2
PyPDF2==3.0.1
python_docx==1.2.0
qwen_vl_utils==0.0.11
Requests==2.32.5
starlette==0.48.0
torch==2.7.1
tqdm==4.67.1
transformers==4.55.4
uvicorn==0.35.0
